.jiggle {
    animation-name: jiggle;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transform-origin: 50% 100%
}

@keyframes jiggle {
    from {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-in
    }

    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-in
    }

    to {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-in
    }
}